[submodule "ofxCocoaPlugins/libs/openframeworks"]
	path = ofxCocoaPlugins/libs/openframeworks
	url = https://github.com/openframeworks/openFrameworks.git
[submodule "ofxCocoaPlugins/libs/Addons/ofxCvOpticalFlowLK"]
	path = ofxCocoaPlugins/libs/Addons/ofxCvOpticalFlowLK
	url = https://github.com/Flightphase/ofxCvOpticalFlowLK.git
