//THE PATH TO THE ROOT OF OUR OF PATH RELATIVE TO THIS PROJECT.
//THIS NEEDS TO BE DEFINED BEFORE CoreOF.xcconfig IS INCLUDED
OF_PATH = $(OFX_PATH)ofxCocoaPlugins/libs/openFrameworks

//THIS HAS ALL THE HEADER AND LIBS FOR OF CORE
#include "libs/openFrameworks/libs/openFrameworksCompiled/project/osx/CoreOF.xcconfig"

LIB_FMODEX = "" //fmodex lib already linked once

OTHER_LDFLAGS = $(OF_CORE_LIBS) 
HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS) $(SOURCE_ROOT)/ofxCocoaPlugins/src/CorePlugins/* $(OF_PATH)/addons/ofxOpenCv/src $(OF_PATH)/addons/ofxOpenCv/libs/opencv/include $(OF_PATH)/addons/ofxOpenCv/libs/opencv/include/opencv  $(OF_PATH)/libs

GCC_ENABLE_SSE3_EXTENSIONS = YES
GCC_ENABLE_SUPPLEMENTAL_SSE3_INSTRUCTIONS = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_C_LANGUAGE_STANDARD = compiler-default
GCC_ENABLE_OBJC_GC = required
CLANG_ENABLE_OBJC_ARC = NO

GCC_PREFIX_HEADER = $(SYSTEM_LIBRARY_DIR)/Frameworks/Carbon.framework/Headers/Carbon.h
